.movie {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.goBack {
  text-decoration: none;
  color: #213547;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  padding: 10px 20px;
}

.goBack:hover {
  color: #007bff;
}

.list {
  margin: 0;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #cccccc;
}

.listItems {
  margin-left: 40px;
}

.link {
  text-decoration: none;
  color: #213547;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #007bff;
}

.active {
  color: #007bff;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
}
