.detailWrapper {
  display: flex;
  padding: 16px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.poster {
  display: block;
  max-width: 250px;
  margin: 0;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 500;
}

.title {
  color: #213547;
}

.parag {
  padding: 0;
  margin: 0;
}
