.wrapper {
  margin: 16px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.listItems {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.movieName {
  text-decoration: none;
  font-weight: 600;
}

.poster {
  max-width: 450px;
  margin: 0 auto 10px;
  aspect-ratio: 2 / 3;
}
