.wrapper {
}

.list {
}

.listItems {
  padding: 0;
}

.movieDiv {
  padding: 0;
  margin: 0;
}

.movieName {
  font-weight: 600;
}

.poster {
  max-width: 270px;
  margin: 0;
  aspect-ratio: 2 / 3;
}

.title {
  font-weight: 500;
}
